@page
@model OdeToFood.Restaurants.ListModel
@{
}
<h1>bondo talaxadze</h1>
@Model.Message

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value=""/>
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon gpyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>
<table class="table">
    @foreach (var restaurant in Model.Restaurants)
    {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>@restaurant.Location</td>
            <td>@restaurant.Cuisine</td>
        </tr>
    }
</table>